h2, .carrito {
    font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
    background-color:  #8b1626;
    color: #ffffff;
}

div {
    font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

button {
    font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
    border-radius: 28px;
    border: 0px;
}
