* {
    font-family: 'Rufina', serif;;
}

.itemClass {
    text-decoration: none;
    background-color: #8b1626;
    border: 5px solid #000000;
    margin: 2.5%;
    max-width: 95%;
    text-align: center;
}

.itemDescription {
   display: grid;
}

.link {
    text-decoration: none;
    color: #c23616;
    font-weight: bold;
}

.link:hover {
    color: #000000;
}
