* {
    font-family: 'Rufina', serif;;
}

.itemClass {
    text-decoration: none;
    background-color: #8b1626;
    border: 5px solid #000000;
    margin: 5%;
}

.itemDescription {
   display: grid;
}

