.itemClass {
    text-decoration: none;
    background-color: #000000;
    border: 5px solid #8b1626;
    
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 575px) {
    .itemClass {
        width: 80%;
        margin: 2%;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .itemClass {
        width: 18rem;
        max-width: 40%;
        margin: 1.5rem
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .itemClass {
        max-width: 27%;
        width: 20rem;
        margin: 2%
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .itemClass {
        width: 28%;
        margin: 2%
    }
}

@media screen and (min-width: 1201px) {
    .itemClass {
        width: 20%;
        margin: 2%
    }
}