.App-header {
    color: #c23616;
    background-image: linear-gradient(#f5f6fa, #a84949);
  }
  
.title {
    font-family: 'Shrikhand', 'cursive';
    font-weight: bold;
    padding-left: 0.8em;
    color: #c23616;
    padding-left: 0.5em;
    background-color: #000000;
}