.navmenu {
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 1%;
  .navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      padding: 0 2% 0;
    }
  }
  .navinput {
    margin-bottom: 0;
  }
  .navLink {
    font-size: large;
    text-decoration: none;
    color: #c23616;
    font-weight: bolder;
  }
  .navLink:hover {
    color: #000000;
  }
  .appLogo {
    height: 2.5rem;
    width: 6em;
  }
  .smallNavSearch {
      display: flex;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  .navmenu {
    .navLink {
      font-size: small;
    }
  }
}

@media screen and (min-width: 1201px) {
  .navmenu {
      .appLogo {
          margin-left: 5%
      }
    .navlist {
      li {
        padding: 0 10% 0;
      }
    }
  }
}
