.footerContainer {
    background-image: linear-gradient(#f5f6fa, #a84949);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 5% 0;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    margin-bottom: 2%;
    .footerLink {
        font-size: large;
        text-decoration: none;
        color: #c23616;
        font-weight: bolder;
    }
    .footerLink:hover {
        color: #000000;
    }
    li {
        list-style: none;
    }
    .footerLinks {
        display: flex;
        margin-top: 2%;
    }
    .mediaLinks {
        display: flex;
        justify-content: space-between;
    }
}



