@media screen and (min-width:1024px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
    }
}

@media screen and (min-width: 700px) and (max-width:1023px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
}

@media screen and (max-width:699px) {
    .contenedor {
        display: grid;
        align-content: center;
        justify-content: center;
    }
}
